/*contacto*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    
}

.conteiner-flex{
    display: flex;
    flex-direction: column;
}


header{
    width: 100%;
    height: 620px;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #088312);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(81, 68%, 33%, 0.315), #49b9278e), url(../imagen/ilustracion-concepto-plan-negocios_114360-1487.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav ul a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover{
    text-decoration: underline;

}

.textoHeader h1{
    font-size: 200px;
    color: #fff;

}

header .textoHeader{
    display: grid;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer{
    display: grid;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;


}

.content-foo{
    text-align: center;
}

.content-foo h4{
color: #fff;
border-bottom: 3px solid #af20d3;
padding-bottom: 5px;
margin-bottom: 10px;


}

.content-foo p{
    color: #ccc;

}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin:  20px 0 0 0;
    color: #9e9797;

}