.imagen-negocio{
    height: 100%;
    width: 100%;
}
.imagen-ayuda{
    height: 90%;
    width: 90%;
}
.img-carrousel{
    height: 600px;
}

.img-opinion{
    align-items: center;
    height: 100%;
    width: 100%;
}

.img-soporte{
    height: 250px;
    width: 300px;
}

.imagen-tiempo{
    height: 100%;
    width: 100%;
}