.presentacion-main{
    .container-fluid{
        padding-bottom: 5px;

        }
    }

.parrafos-main{
    padding-top: 5px;
    .container-fluid{
        .row{
            max-width: 100%;
            box-shadow: 10px 5px 10px 10px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            overflow: hidden;
            
            }
        }
    }

