.titulo-bienvenida{
    .container-fluid{
        background-color: #fff;
        max-width: 80%;
        box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        overflow: hidden;

    }
}