

/*index.html*/
.titulo-bienvenida{
    box-shadow: 5px 3px rgba(5, 5, 5, 0.5);
    padding-top: 0.5rem;
    #titulo-pagina{
        display: flex;
        justify-content: center; 
    }
}
.presentacion-main{
    background-color: darkorange;
    padding-top: 2rem;
    #objetivo{
        display: flex;
        justify-content: start;
        padding-left: 4rem;
    }
    #parrafo1{
        text-align: center;
    }
    #parrafo2{
        text-align: center;
    }
}
/* galeria */
.portafolio{
    padding-top: rem;
    padding-bottom: 0.5rem;
    background-color: black;
    #carrousel-img{
        background-color: greenyellow;
    }
    #text-portafolio{
        background-color: green;
        
        #titulo-portafolio{
            text-align: center;
            background-color: white;
            color: black;
            border: 0.1rem;
            border-color: #000;
            border-style: solid;

        }
    }
}
/*opiniones*/
.container-fluid{
    padding-top: 0.5rem;
    .display-4{
        text-align: center;
    }
    
.img-opinion{
    align-items: center;
    height: 100%;
    width: 100%;
}
    .text-opinion{
        text-align: center;
    }
}