<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/EstiloBlog.css">
</head>
<body>
    <div class="contenedorPadre">
        <header>
        <!-- barra de navegacion -->

        <nav>
            <!--lista-->
      
            <a href="../index.html">inicio</a>
            <a href="Contacto.html">contacto</a>
            <a href="productos.html">productos</a>
            <a href="blog.html">blog</a>
            <a href="Soporte.html">ayuda</a>
         

        </nav>

        <section class="textos-header">
            <h1>Blog</h1>
        </section>
            <div style="height: 150px; overflow: hidden;" >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);">                       
                        </path></svg></div>


        </header>

        <main>
            <section class="contenedor sobre nosotros">
                <h2 class="nuestro producto">Sobre Nosotros</h2>
                <div class="contenedor-sobre-nosotros">
                    <div class="contenido-textos">
                        <!-- PRIMER PARRAFO -->
                        <h3><span>1</span>Nuestra Empresa inicio en los años 1990</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                             Asperiores ipsum, dolorem vel quas nisi a cupiditate laudantium fuga 
                             beatae quis qui illum, neque quibusdam velit commodi magnam hic nemo error 
                             ipsa deserunt accusamus eveniet alias explicabo. Nemo fugiat quam amet deleniti 
                             aut tenetur dolores cupiditate saepe culpa vitae illum, ex quis voluptatibus!
                              Quaerat inventore recusandae, at quisquam et saepe omnis asperiores? Quasi fuga 
                              sapiente tempore repellat harum laboriosam iusto id adipisci error, aperiam vitae
                               omnis cumque odit commodi ullam consectetur odio, unde, architecto quos illo autem 
                               perspiciatis. Eveniet beatae repellat ea eos nostrum corporis sint, porro laborum 
                               voluptatibus voluptatum nisi sunt nulla quod velit mollitia voluptates autem. Recusandae 
                               corporis sequi quaerat accusantium. Repudiandae, quos nisi? Praesentium similique 
                               accusamus voluptatem veniam sed nulla amet totam ullam harum! Sint ex officiis iure 
                               saepe odio harum ipsum architecto beatae! Aperiam quibusdam, eum tempora asperiores 
                               fugiat vel neque et, sed commodi adipisci quaerat dolores nostrum enim deleniti ullam 
                               nihil rerum. Tempora dolorum, labore recusandae vitae repellat inventore ex qui blanditiis
                                natus odit et velit, maxime ipsam. Quia ad aliquam minus veniam, ipsa, omnis illum odio
                                 incidunt laboriosam nemo voluptate repudiandae vero deleniti maiores officia natus dolorem
                                  facere? Doloremque aspernatur repellendus magnam corporis id aut et. Nam enim non 
                                  repellendus quibusdam officia. Ab et assumenda nihil beatae, a in deleniti sit nobis
                                   enim quasi vero error. Dignissimos eos, sapiente modi quaerat
                                    suscipit fuga assumenda blanditiis incidunt dolor. Est maiores
                                     optio qui quae nemo enim voluptatibus voluptate cumque quidem
                                      quis facere omnis repudiandae cupiditate iure nobis doloribu
                                       porro iste, officiis nostrum atque! Tempore molestiae laborio
                                       sam doloremque, doloribus distinctio enim quae unde natus repell
                                       at reprehenderit culpa corrupti, beatae suscipit omnis est deserun
                                       aliquid fugiat recusandae? In libero obcaecati, autem atque eaque 
                                       , magni id debitis amet omnis quam? Tempora aperiam fugiat sequi. Quod s
                                       uscipit natus qui magni laboriosam fuga, enim facilis vero dolor, assumen
                                       da distinctio corrupti sint maiores quibusdam reiciendis quam omnis pariat
                                       ur odit? Laboriosam, consectetur hic. Vel facilis quaerat deleniti dolore nisi
                                       , nesciunt molestiae at asperiores minus omnis et distinctio assumenda
                                        consequatur voluptatem hic accusamus optio? Odio alias officia magnam 
                                        beatae eaque libero obcaecati reprehenderit doloremque, ex nesciunt, 
                                        facilis excepturi! Eos sed alias repellat corporis et provident, inve
                                        que, repellendus natus, quae nulla dolore vel? Necessitatibus,
                                         possimus assumenda, inventore ipsa aliquam laboriosam porro ad, corrupti v
                                         ero voluptas non? Minus unde saepe ducimus deserunt natus debitis delectus mi
                                         nima fugit, molestias enim eligendi, dolor vitae, beatae laudantium exercitati
                                         onem at atque voluptatum molestiae a? Possimus dicta sunt autem quidem dolorum a
                                         speriores natus error delectus, voluptatum assumenda. Pariatur illo excepturi ame
                                         t eveniet sint nesciunt soluta quae ut natus architecto temporibus officiis asper
                                         iores velit ipsum ex, animi debitis vitae blanditiis quis dolorem earum maiores, e
                                         ligendi error? Harum excepturi similique sint aliquid nulla amet perspiciatis repe
                                         llendus, eaque cumque, veniam dignissimos exercitationem sit blanditiis. Rerum ab
                                          officiis nulla deserunt. Ipsa suscipit nam similique maiores dolore explicabo i                                        
                                          ste debitis laudantium ab magni. Quas at omnis excepturi voluptates, minima mol
                                          litia sequi. Nulla voluptatum obcaecati odio dolor culpa harum repudiandae corr
                                          upti maxime eveniet. Accusamus amet nobis sequi illum corporis voluptatum optio
                                           facere, corrupti ipsum vitae doloremque necessitatibus nihil, ipsam facilis as
                                           periores adipisci quo. Harum sit facilis rerum pariatur, nemo beatae esse ipsa                                          
                                           eius soluta fugiat consectetur minima ipsam autem repellat asperiores corrupti
                                            fuga repudiandae natus hic cum maiores. Corporis, corrupti. In fugiat aliquam
                                             sapiente voluptatibus minima temporibus quos dolorum enim dignissimos et, del
                                             ectus saepe alias quaerat illum incidunt, officia expedita! Est at aliquam qu                                        
                                             isquam reiciendis earum iusto excepturi dolorem ipsam incidunt libero, assume
                                             nda repudiandae reprehenderit molestias illum autem ut, animi tenetur quia ni
                                             hil placeat tempore molestiae quis. Illum saepe neque quis quam earum quo
                                             io eos atque libero. Quidem asperiores id exercitationem sunt velit, 
                                             earum quia explicabo odio. Alias reprehenderit quas quibusdam? Eligendi
                                              debitis vel ipsam earum laboriosam sunt est, dolores officiis, aperiam,
                                               asperiores cupiditate maxime? Amet, deserunt ipsam error architecto nec
                                               essitatibus doloribus aperiam quasi pariatur ipsa vero aliquam tenetur no
                                               bis animi repellat minus quidem quod reprehenderit esse facere maxime. Porr
                                               o ab officiis eos voluptatibus nihil adipisci distinctio cupiditate optio 
                                               facere expedita quae quibusdam sapiente doloribus soluta, itaque sint? Illu
                                               m incidunt amet veritatis quas qui consectetur, facilis quos nisi corrupti,
                                                est adipisci? Perferendis asperiores repudiandae earum dolorum praesentium
                                                 explicabo sit quod facilis dolores facere. Labore molestias consequatur non
                                                  quidem commodi expedita laboriosam ullam id nisi sit, quos totam, facere,
                                                   enim quod reprehenderit dolorem voluptate? Natus numquam, consequatur et
                                                    sequi nesciunt libero fugiat corporis autem nihil. Labore nulla iste a
                                                    t corporis perspiciatis? Dolorum quod ipsa ab quis sapiente labore, qui
                                                    busdam provident fugit atque voluptatibus enim ipsum culpa, beatae alias
                                                     id doloremque? Dolor placeat distinctio ipsam odio sequi sed tempora 
                                                     quos, quam commodi libero reprehenderit ab nemo velit deleniti. Cumque
                                                      aut illum fugiat molestiae, deleniti consectetur, ut hic debitis aspe
                                                      rnatur necessitatibus tempora natus alias rem sequi a. Ipsam eveniet 
                                                      obcaecati suscipit vero, culpa modi. Recusandae minus ullam et sit, q
                                                      uis sunt laudantium, nemo velit atque veritatis ea. Officiis, delectu
                                                      s at totam ab magni amet! Consequuntur quaerat ex quisquam temporibus
                                                       eius, reprehenderit neque molestias ad repellendus aut doloribus mag
                                                       nam, error est repellat a adipisci possimus recusandae corrupti aspe
                                                       riores ipsam! Tenetur adipisci, neque consectetur vero illo modi qua
                                                       s, enim doloremque nesciunt ab iure corporis dignissimos alias praes
                                                       entium. Provident veritatis repellendus consectetur eum. Rem molesti
                                                       ae vitae iure qui reiciendis quisquam officia animi illo quia quaer
                                                       t eos natus eum, minima, fugit delectus consequuntur, ipsam ducimus
                                                        dolore tempore impedit quas? Nemo iure laudantium vero porro volup
                                                        tatibus, obcaecati eligendi nulla animi natus rerum sapiente dolor
                                                        es nobis officiis voluptate ratione corrupti doloribus quas sequi 
                                                        eveniet, aliquam tenetur? Deleniti quo repudiandae minus nobis vit
                                                        ae non consequuntur temporibus laboriosam repellat dolore corrupti
                                                         dignissimos, omnis libero accusantium nam laudantium neque cumque
                                                         ! Accusantium quis rem et magnam provident facere, obcaecati repre
                                                         henderit sapiente in, laboriosam pariatur accusamus earum nostrum u
                                                         t porro voluptates quisquam doloribus, id sint expedita ex harum cu
                                                         mque commodi est? Ipsam nam, tenetur animi modi, odio tempore tempo
                                                         ribus quos inventore sed facilis veniam nesciunt fugit enim deleniti</p>
                                   

                                   <!-- SEGUNDO PARRAFO -->
                                    <h3><span>2</span>Somos lo mejor de hoy debido a:</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Cum eum numquam consequatur, rerum quo dolores eaque quia quibusdam et blanditiis doloribus expedita iusto,
                                                voluptatibus saepe eius? Veritatis non illum obcaecati?</p>
                </div>
            </div> 


        </main>
        <footer>
            <div class="contendor-footer">
                <div class="content-foo">
                    <h4>Numero Telefonico</h4>
                    <p>+(22) 2389214/ (+56) 9-32439847</p>
                </div>
                <div class="content-foo">
                    <h4>Correo Electronico</h4>
                    <p>ramirez.ruiz.eliezer.reuven@gmail.com</p>
                </div>
                <div class="content-foo">
                    <h4>Oficina</h4>
                    <p> av. tutan camon con esq. patata, Santiago de Chile</p>
                </div>
            </div>
            <h2 class="titulo-final">&copy; Eli-ezer Ramirez</h2>
    
        </footer>
        
    </div>
    
</body>
</html>